@font-face {
    font-family: 'NanumGothic';
    src: url('@/assets/fonts/nanum-gothic/NanumGothic-Regular.woff') format(woof);
    font-weight: 400;
}
@font-face {
    font-family: 'NanumGothic';
    src: url('@/assets/fonts/nanum-gothic/NanumGothic-Bold.woff') format(woof);
    font-weight: 700;
}
@font-face {
    font-family: 'NanumGothic';
    src: url('@/assets/fonts/nanum-gothic/NanumGothic-ExtraBold.woff') format(woof);
    font-weight: 800;
}
@font-face {
    font-family: 'NanumBrush';
    src: url('@/assets/fonts/nanum-brush/NanumBrushScript-Regular.woff') format(woof);
    font-weight: 400;
}
