:root {
	--text--primary: white;
	--text--inactive: rgb(149, 149, 149);
	--text-shadow: 1px 1px 1px rgba(72, 72, 72, 0.4);

	--bg--dark-300: rgba(0, 0, 0, 0.3);
	--bg--gray--800: rgba(152, 152, 152, 0.8);
	--bg--gray--600: rgba(152, 152, 152, 0.6);

	--bg-image-url: url('/public/imgs/starry_night_bg.webp');

	--border--color: hsl(200, 3%, 18%);

	--ff-nav-weight: 700;
}
