:root {
	--text--primary: white;
	--text--inactive: rgb(149, 149, 149);

	--bg--dark-300: rgba(0, 0, 0, 0.3);
	--bg--gray--800: rgba(152, 152, 152, 0.8);
	--bg--gray--600: rgba(152, 152, 152, 0.6);

	--ff--primary: ;
}
